@font-face {
	font-family: 'BR Firma';
	font-weight: 100;
	font-display: swap;
	src: url('./fonts/BRFirma-Thin.otf');
	/* url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); */
}

@font-face {
	font-family: 'BR Firma';
	font-weight: 200;
	font-display: swap;
	src: url('./fonts/BRFirma-Extra-Light.otf');
	/* url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); */
}

@font-face {
	font-family: 'BR Firma';
	font-weight: 300;
	font-display: swap;
	src: url('./fonts/BRFirma-Light.otf');
	/* url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); */
}

@font-face {
	font-family: 'BR Firma';
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/BRFirma-Regular.otf');
	/* url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); */
}

@font-face {
	font-family: 'BR Firma';
	font-weight: 500;
	font-display: swap;
	src: url('./fonts/BRFirma-Medium.otf');
	/* url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); */
}

@font-face {
	font-family: 'BR Firma';
	font-weight: 600;
	font-display: swap;
	src: url('./fonts/BRFirma-SemiBold.otf');
}

@font-face {
	font-family: 'BR Firma';
	font-weight: 700;
	font-display: swap;
	src: url('./fonts/BRFirma-Bold.otf');
}

@font-face {
	font-family: 'BR Firma';
	font-weight: 900;
	font-display: swap;
	src: url('./fonts/BRFirma-Black.otf');
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.fastfade-enter-active,
.fastfade-leave-active {
	transition: opacity 0.2s ease;
}
.fastfade-enter-from,
.fastfade-leave-to {
	opacity: 0;
}
