@tailwind base;
@tailwind components;
@tailwind utilities;

/* .text-display {
	font-size: 64px;
}
.text-header1 {
	font-size: 48px;
}
.text-header2 {
	font-size: 40px;
}
.text-header3 {
	font-size: 36px;
}
.text-header4 {
	font-size: 28px;
}
.text-header5 {
	font-size: 24px;
}
.text-header6 {
	font-size: 20px;
}
.text-subheading{
    font-size: 18px;
}
.text-body-lg{
    font-size: 17px;
}
.text-body{
    font-size: 16px;
}
.text-body-md{
    font-size: 16px;
}
.text-caption{
    font-size: 14px;
}
.text-micro{
    font-size: 12px;
} */
